import(xlsx)
import(magrittr)
import(GO.db)
import(msigdbr)

exportPattern("^[[:alpha:]]+")
export(gofact)
export(gofact_MultiCol)
export(exportHtml)
export(exportExcel)
importFrom(DT, datatable)
importFrom(networkD3, saveNetwork)
importFrom(fgsea, fgsea)
importFrom(qvalue, qvalue)
importFrom(rjson, fromJSON)
importFrom(DBI, dbGetQuery)
importFrom(msigdbr, msigdbr)
